@charset "UTF-8";
/* agregar colores y letras para entrega */
* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: #082032;
  font-family: "Poppins", sans-serif; }

.header {
  background-color: #082032;
  color: white; }
  .header__titulo {
    padding: 8px;
    text-align: center;
    font-size: 40px; }
  .header__nav {
    text-align: center;
    background-color: #334756;
    padding: 4px;
    font-weight: 600; }

a {
  text-decoration: none;
  color: white; }

a:hover {
  text-decoration: none;
  color: black; }

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

h2 {
  padding: 10px;
  text-align: center; }

main {
  background-color: #082032;
  color: white; }

.introduccion {
  padding: 20px;
  text-align: center; }

.esp__imagen {
  height: 500px;
  width: 500px;
  border-radius: 100%;
  margin: 20px; }

.acercade__card {
  background-color: #082032;
  margin: 17px; }

.acercade__img {
  width: 535px;
  height: 700px;
  border-radius: 10%; }

.acercade__title {
  font-size: xx-large;
  font-weight: bold; }

.footer {
  margin-top: 0px;
  padding: 40px;
  background-color: #334756;
  text-align: center; }
  .footer__img {
    display: inline;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    width: 40px;
    height: 40px; }

li {
  display: inline;
  text-align: center;
  padding: 30px; }

.index__card {
  background-color: #064663;
  transition: 0.5s all ease-in-out; }

.index__card:hover {
  transform: scale(1.1);
  border-color: white; }

.index__pcards {
  color: #082032;
  font-weight: 600; }

.index__card--destacado {
  background-color: #947a09;
  transition: 0.5s all ease-in-out; }

.index__card--destacado:hover {
  transform: scale(1.1);
  border-color: white; }

.index__carruselimg {
  height: 280px; }

@media screen and (min-width: 769px) {
  .texto__corto {
    display: none;
    justify-content: center; }
  .texto__largo {
    display: flex;
    justify-content: center; }
  .hamburger-menu {
    display: none; } }

@media screen and (min-width: 577px) and (max-width: 768px) {
  .texto__largo {
    display: none;
    justify-content: center; }
  .acercade__img {
    width: 460px;
    height: 600px;
    justify-content: center; } }

@media screen and (max-width: 576px) {
  .texto__largo {
    display: none;
    justify-content: center; }
  li {
    padding: 20px;
    margin: 20px; }
  .texto__corto {
    display: flex;
    justify-content: center; }
  .header__nav {
    font-size: x-large; }
  .index__carruselimg {
    height: 180px; }
  .acercade__img {
    width: 300px;
    height: 400px; } }

.postre1-foto {
  width: 30rem;
  height: 12rem;
  background-image: url("../resources/1.jpg");
  background-size: cover;
  transition: 0.5s all ease-in-out; }

.postre2-foto {
  width: 30rem;
  height: 12rem;
  background-image: url("../resources/2.jpg");
  background-size: cover;
  transition: 0.5s all ease-in-out; }

.postre3-foto {
  width: 30rem;
  height: 12rem;
  background-image: url("../resources/3.jpg");
  background-size: cover;
  transition: 0.5s all ease-in-out; }

.postre4-foto {
  width: 30rem;
  height: 12rem;
  background-image: url("../resources/4.jpg");
  background-size: cover;
  transition: 0.5s all ease-in-out; }

.postre5-foto {
  width: 30rem;
  height: 12rem;
  background-image: url("../resources/5.jpg");
  background-size: cover;
  transition: 0.5s all ease-in-out; }

.postre6-foto {
  width: 30rem;
  height: 12rem;
  background-image: url("../resources/6.jpg");
  background-size: cover;
  transition: 0.5s all ease-in-out; }

.postre7-foto {
  width: 30rem;
  height: 12rem;
  background-image: url("../resources/7.jpg");
  background-size: cover;
  transition: 0.5s all ease-in-out; }

.postre8-foto {
  width: 30rem;
  height: 12rem;
  background-image: url("../resources/8.jpg");
  background-size: cover;
  transition: 0.5s all ease-in-out; }

.postre9-foto {
  width: 30rem;
  height: 12rem;
  background-image: url("../resources/9.jpg");
  background-size: cover;
  transition: 0.5s all ease-in-out; }

.postre10-foto {
  width: 30rem;
  height: 12rem;
  background-image: url("../resources/10.jpg");
  background-size: cover;
  transition: 0.5s all ease-in-out; }

.postre11-foto {
  width: 30rem;
  height: 12rem;
  background-image: url("../resources/11.jpg");
  background-size: cover;
  transition: 0.5s all ease-in-out; }

.postre12-foto {
  width: 30rem;
  height: 12rem;
  background-image: url("../resources/12.jpg");
  background-size: cover;
  transition: 0.5s all ease-in-out; }

.postre13-foto {
  width: 30rem;
  height: 12rem;
  background-image: url("../resources/13.jpg");
  background-size: cover;
  transition: 0.5s all ease-in-out; }

.postre14-foto {
  width: 30rem;
  height: 12rem;
  background-image: url("../resources/14.jpg");
  background-size: cover;
  transition: 0.5s all ease-in-out; }

.postre1-foto:hover {
  transform: scale(1.7); }

.postre2-foto:hover {
  transform: scale(1.7); }

.postre3-foto:hover {
  transform: scale(1.7); }

.postre4-foto:hover {
  transform: scale(1.7); }

.postre5-foto:hover {
  transform: scale(1.7); }

.postre6-foto:hover {
  transform: scale(1.7); }

.postre7-foto:hover {
  transform: scale(1.7); }

.postre8-foto:hover {
  transform: scale(1.7); }

.postre9-foto:hover {
  transform: scale(1.7); }

.postre10-foto:hover {
  transform: scale(1.7); }

.postre11-foto:hover {
  transform: scale(1.7); }

.postre12-foto:hover {
  transform: scale(1.7); }

.postre13-foto:hover {
  transform: scale(1.7); }

.postre14-foto:hover {
  transform: scale(1.7); }

.gridmosaico {
  display: flex; }

.especialidades__img {
  height: 300px;
  width: 550px; }

.especialidades__card {
  background-color: #0b3452;
  margin: 17px; }

.especialidades__card:hover {
  border-color: white;
  border-width: 2px; }

.especialidades__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: x-large; }

.especialidades__text {
  font-family: "Poppins", sans-serif; }

/* siempre correr npm run watch-css antes de iniciar cambios */
/* Probando Menu Burger, para media pequeña */
#menu__toggle {
  opacity: 0; }

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg); }

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg); }

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg); }

#menu__toggle:checked ~ .menu__box {
  left: 0 !important; }

.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1; }

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transition-duration: .25s; }

.menu__btn > span::before {
  content: '';
  top: -8px; }

.menu__btn > span::after {
  content: '';
  top: 8px; }

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #0b3452;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: .25s; }

.menu__item {
  display: block;
  padding: 12px 24px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s; }

.menu__item:hover {
  background-color: #CFD8DC; }
