/* agregar colores y letras para entrega */
* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: #082032; }

.header {
  background-color: #082032;
  color: white; }
  .header__titulo {
    padding: 25px;
    text-align: center;
    font-size: 40px; }
  .header__nav {
    text-align: center;
    background-color: #334756;
    padding: 25px;
    font-weight: 600; }

h1 {
  font-family: "Radio Canada", sans-serif; }

h2 {
  padding: 10px;
  text-align: center; }

a {
  text-decoration: none;
  color: white; }

a:hover {
  text-decoration: none;
  color: black; }

main {
  background-color: #082032;
  color: white; }

.introduccion {
  padding: 20px;
  text-align: center; }

.esp__imagen {
  height: 500px;
  width: 500px;
  border-radius: 100%;
  margin: 20px; }

.acercade {
  display: flex; }
  .acercade__imagen {
    width: 450px;
    height: 300px;
    margin-right: 15px; }

.footer {
  margin-top: 0px;
  padding: 40px;
  background-color: #334756;
  text-align: center; }
  .footer__img {
    display: inline;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    width: 40px;
    height: 40px; }

li {
  display: inline;
  text-align: center;
  padding: 30px; }

.index__card {
  background-color: #064663; }

.index__pcards {
  color: #082032;
  font-weight: 600; }

.index__card--destacado {
  background-color: #947a09; }

.index__carruselimg {
  height: 280px; }

@media screen and (min-width: 577px) {
  .texto__corto {
    display: none;
    justify-content: center; }
  .texto__largo {
    display: flex;
    justify-content: center; } }

@media screen and (max-width: 576px) {
  .texto__largo {
    display: none;
    justify-content: center; }
  li {
    padding: 20px;
    margin: 20px; }
  .texto__corto {
    display: flex;
    justify-content: center; }
  .header__nav {
    font-size: x-large; }
  .index__carruselimg {
    height: 180px; } }

.postre1-foto {
  width: 30rem;
  height: 25rem;
  background-image: url("../resources/1.jpg");
  background-size: cover; }

.postre2-foto {
  width: 30rem;
  height: 25rem;
  background-image: url("../resources/2.jpg");
  background-size: cover; }

.postre3-foto {
  width: 30rem;
  height: 25rem;
  background-image: url("../resources/3.jpg");
  background-size: cover; }

.postre4-foto {
  width: 30rem;
  height: 25rem;
  background-image: url("../resources/4.jpg");
  background-size: cover; }

.postre5-foto {
  width: 30rem;
  height: 25rem;
  background-image: url("../resources/5.jpg");
  background-size: cover; }

.postre6-foto {
  width: 30rem;
  height: 25rem;
  background-image: url("../resources/6.jpg");
  background-size: cover; }

.postre7-foto {
  width: 30rem;
  height: 25rem;
  background-image: url("../resources/7.jpg");
  background-size: cover; }

.postre8-foto {
  width: 30rem;
  height: 25rem;
  background-image: url("../resources/8.jpg");
  background-size: cover; }

.postre9-foto {
  width: 30rem;
  height: 25rem;
  background-image: url("../resources/9.jpg");
  background-size: cover; }

.postre10-foto {
  width: 30rem;
  height: 25rem;
  background-image: url("../resources/10.jpg");
  background-size: cover; }

.postre11-foto {
  width: 30rem;
  height: 25rem;
  background-image: url("../resources/11.jpg");
  background-size: cover; }

.postre12-foto {
  width: 30rem;
  height: 25rem;
  background-image: url("../resources/12.jpg");
  background-size: cover; }

.postre13-foto {
  width: 30rem;
  height: 25rem;
  background-image: url("../resources/13.jpg");
  background-size: cover; }

.postre14-foto {
  width: 30rem;
  height: 25rem;
  background-image: url("../resources/14.jpg");
  background-size: cover; }

.gridmosaico {
  display: flex; }

/* siempre correr npm run watch-css antes de iniciar cambios */
