$color-principal:#082032;
$color-secundario: #0b3452;
$color-navyfoot: #334756;
$color-destacado: #947a09;
$color-destacado-borde: white; 
$fuente-titulo: 'Radio Canada', sans-serif;
$fuente-principal: 'Poppins', sans-serif;
/* agregar colores y letras para entrega */