@import 'variables';


*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: $color-principal;
}

.header{
    
    background-color: $color-principal;
    color: white;

    &__titulo {
        padding: 25px;
        text-align: center;
        font-size: 40px;
    }

    &__nav {
        text-align: center;
        background-color: $color-navyfoot;
        padding: 25px;
        font-weight: 600
    }
    
}

h1 {

    font-family: $fuente-titulo;
}

h2 {
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: black;
}



main {
    
    background-color: #082032;
    color: white;
}

.introduccion {

    padding: 20px;
    text-align: center;

}

.esp__imagen {
    height: 500px;
    width: 500px;
    border-radius: 100%;
    margin:20px;
}

.acercade {

    display: flex;

    &__imagen {

        width: 450px;
        height: 300px;
        margin-right: 15px;
    
    }

}

.footer {
    
    margin-top: 0px;
    padding: 40px;
    background-color: $color-navyfoot;
    text-align: center;
    &__img {
        display: inline;
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
        width: 40px;
        height: 40px;
    
    }
}

li {
    
    display: inline;
    text-align: center;
    padding: 30px;

}

.index {

    &__card {
        background-color: #064663;
    }

    &__pcards {

        color: #082032;
        font-weight: 600;
    }
    
    
    
    &__card--destacado {
        background-color: #947a09;
    }
    
    &__carruselimg {
        height: 280px;
    }

}

@media screen and (min-width: 577px)
{

    .texto__corto {
        display: none;
        justify-content: center;
    } 
    .texto__largo {
        display: flex;
        justify-content: center;
    }

}


@media screen and (max-width: 576px)
{

    .texto__largo {
        display: none;
        justify-content: center;
    }

    li {
        padding: 20px;
        margin: 20px;
    }

    .texto__corto {
        display: flex;
        justify-content: center;
    }
    .header__nav {
        font-size: x-large;
    
    } 

    .index__carruselimg {
        height: 180px;
    }
}

$postres:(postre1: 1,postre2: 2,postre3: 3,postre4: 4,postre5: 5,postre6: 6,postre7: 7,postre8: 8,postre9: 9,postre10: 10,postre11: 11,postre12: 12,postre13: 13,postre14: 14);

@each $postre, $nombrepostre in $postres {
    .#{$postre}-foto {
        width: 30rem;
        height: 25rem;
        background-image: url('../resources/#{$nombrepostre}.jpg');
        background-size: cover;
    
    }
}

.gridmosaico {

    display: flex;
}
/* siempre correr npm run watch-css antes de iniciar cambios */


